<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Duration</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.tracks}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{artist}}
      </td>
      <td>
        {{duration}}
      </td>
      <td>
        <form method="POST" action="/playlist/{{_id}}/deleteTrack">
          <button type="submit" class="button">
            <span class="icon is-small">
              <i class="fa fa-trash"></i>
            </span>
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>